<h2>{{rolesCtrl.languages.getValue('Roles')}}</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <a ui-sref="roles/new" class="btn btn-primary">{{rolesCtrl.languages.getValue('NewF')}}</a>
                        </span>
                        <input ng-model="filter" class="form-control" placeholder="{{rolesCtrl.languages.getValue('Filter')}}" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12 table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>{{rolesCtrl.languages.getValue('Name')}}</th>
                    <th>{{rolesCtrl.languages.getValue('Group')}}</th>
                    <th>{{rolesCtrl.languages.getValue('Actions')}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="role in rolesCtrl.roles | filter: filter">
                    <td>{{role.name}}</td>
                    <td>{{role.roleGroup == '1' ? 'Admin' : 'User'}}</td>
                    <td class="text-center">
                        <a class="btn btn-primary">{{rolesCtrl.languages.getValue('Edit')}}</a>
                        &nbsp;
                        <a class="btn btn-danger">{{rolesCtrl.languages.getValue('Remove')}}</a>
                        &nbsp;
                        <div class="btn-group">
                            <a class="btn btn-default">{{rolesCtrl.languages.getValue('Add')}}&nbsp;{{rolesCtrl.languages.getValue('User')}}</a>
                            <a class="btn btn-danger">{{rolesCtrl.languages.getValue('Remove')}}&nbsp;{{rolesCtrl.languages.getValue('User')}}</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>